header {
    background-color: #339966;
    width: auto;
    margin: 0%;
    padding: 10px 5%;
}

.header-home-nav {
    color: #ddeeff;
    font-size: 30px;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: #339966;
    text-decoration: none;
}

body {
    background-color: #ddeeff;
    margin: 0%;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 20px;
    color: #262d3c;
}

.body-margin {
    margin: 50px 10%;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 25px;
}

table {
    border-collapse: collapse;
    border: 2px solid #262d3c;
}

.table-upperleft {
    background-color: #262d3c;
}

.table-color {
    background-color: #6ab2bb;
}

.example {
    background-color: rgba(51, 153, 102, 0.5);
    margin: 10px 0px;
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.wip {
    background-color: #262d3c;
    color: #ddeeff;
    width: 256px;
    font-weight: 500;
}
