body {
    background-color: #ddeeff;
    margin: 5% 10%;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 20px;
    color: #262d3c;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2 {
    font-size: 30px;
    line-height: 25px;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: #339966;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 2px solid #262d3c;
}

.table-upperleft {
    background-color: #262d3c;
}

.table-color{
    background-color: #6ab2bb;
}
