$light_shades: #ddeeff;
$light_accent: #6ab2bb;
$main_color: #339966;
$dark_accent: #7e8b7b;
$dark_shades: #262d3c;

header {
    background-color: $main_color;
    width: auto;
    margin: 0%;
    padding: 10px 5%;
}

.header-home-nav {
    color: $light_shades;
    font-size: 30px;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: $main_color;
    text-decoration: none;
    .toc {
        font-size: 20px;
        font-weight: normal;
        color: $dark_shades;
    }
}

body {
    background-color: $light_shades;
    margin: 0%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: $dark_shades;
}

.body-margin {
    margin: 50px 10%;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.h1-line {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 10px;
    &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: $dark_shades;
    }
}

h2 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 30px;
    line-height: 25px;
}

h3 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

table {
    border-collapse: collapse;
    border: 2px solid $dark_shades;
}

.table-upperleft {
    background-color: $dark_shades;
}

.table-color {
    background-color: $light_accent;
}

.example {
    background-color: rgba(51, 153, 102, 0.5);
    margin: 10px 0px;
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.wip {
    background-color: $dark_shades;
    color: $light_shades;
    width: 256px;
    font-weight: 500;
}
