$light_shades: #def;
$light_accent: #6ab2bb;
$main_color: #396;
$dark_accent: #7e8b7b;
$dark_shades: #262d3c;

header {
    width: auto;
    padding: 10px 5%;
    margin: 0%;
    background-color: $main_color;
}

.header-home-nav {
    font-size: 30px;
    color: $light_shades;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: $light_accent;
    text-decoration: none;
}

.toc {
    font-size: 20px;
    font-weight: normal;
    color: $dark_shades;
}

body {
    margin: 0%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: $dark_shades;
    background-color: $light_shades;
}

.main {
    padding: 25px 50px;
    margin: 10px 10%;
    background-color: #fff;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: $main_color;
}

.h1-line {
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin: 0;

    &::after {
        flex-grow: 1;
        height: 1px;
        content: "";
        background-color: $dark_shades;
    }
}

h2 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 30px;
    line-height: 25px;
}

h3 {
    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

table {
    border-collapse: collapse;
    border: 2px solid $dark_shades;
}

.table-upperleft {
    background-color: $dark_shades;
}

.table-color {
    background-color: $light_accent;
}

.example {
    padding: 0 5px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    background-color: rgb(51 153 102 / 50%);
}

.wip {
    width: 256px;
    font-weight: 500;
    color: $light_shades;
    background-color: $dark_shades;
}